<header layout="row" ng-show="$ctrl.limitHeader">
  <h1 class="logo" flex="85">Acromancer</h1>
  <md-button class="md-primary" flex>What's Acromancer?</md-button>
</header>
<header layout="row" ng-show="!$ctrl.limitHeader">
  <h1 class="logo" flex="50">Acromancer</h1>
  <md-button class="md-primary" flex>Play</md-button>
  <md-button class="md-primary" flex>Profile</md-button>
  <md-button class="md-primary" flex>FAQ</md-button>
  <md-button class="md-primary" flex>What's Acromancer?</md-button>
</header>
